# requirements.txt
snowflake-snowpark-python
streamlit
requests
google-api-python-client
# name: app_environment
# channels:
#   - snowflake
# dependencies:
#   - python=3.11.*
#   - snowflake-snowpark-python=
#   - streamlit=
